img {
  margin: 0 !important;
  background: none !important;
  border: 0 !important;
  box-shadow: none !important; }

* {
  font-family: "Nunito", sans-serif !important; }

body {
  background: #e6e6e6 !important; }

.slides mark {
  background: white; }

.slides section.title h1 {
  font-family: "Nunito", sans-serif !important; }

.slides section.title hr {
  border: 4px solid #cccccc;
  width: 20%;
  border-radius: 1000px; }

.slides .introduction h3 {
  font-weight: 700; }

.slides .introduction img.photo {
  width: 200px;
  border-radius: 200px;
  position: relative;
  top: -30px; }

.slides .introduction p {
  font-weight: 200;
  font-size: 0.8em; }

.slides .introduction .emoji {
  position: relative;
  top: 5px; }

.slides section.normal h3 {
  text-transform: capitalize !important;
  font-weight: 500; }

.slides section.normal p {
  font-weight: 300; }

.slides .emoji img {
  margin: 20px;
  width: 40%; }
