img {
  margin: 0!important;
  background: none!important;
  border: 0!important;
  box-shadow: none!important;
}

* {
  font-family: 'Nunito', sans-serif!important;
}

body {
  background: lighten(#000, 90%)!important;
}

.slides {
  mark {
    background: white;
  }

  section.title {
    h1 {
      font-family: 'Nunito', sans-serif!important;
    }
    hr {
      border: 4px solid lighten(#000, 80%);
      width: 20%;
      border-radius: 1000px;
    }
  }

  .introduction {
    h3 {
      font-weight: 700;
    }
    img.photo {
      width: 200px;
      border-radius: 200px;
      position: relative;
      top: -30px;
    }
    p {
      font-weight: 200;
      font-size: 0.8em;
    }
    .emoji {
      position: relative;
      top: 5px;
    }
  }

  section.normal {
    h3 {
      text-transform: capitalize!important;
      font-weight: 500;
    }
    p {
      font-weight: 300;
    }
  }

  .emoji {
    img {
      margin: 20px;
      width: 40%;
    }
  }
}
